p Hi #{@user.name},

p the user #{@liked_by.name} has liked one of your activities!

p = link_to challenge_participation_url(@activity_log.challenge, @activity_log.participation) do
  | Link to your participation page

p Best wishes,

p Olle

p PS: You can disable eMail notification in your account settings.


