<fieldset>
<div class='form-group simple_captcha'>
  <div class='row'>
    <div class='col-xs-6'>
      <%= simple_captcha_options[:label] %>
    </div>
    <div class='col-xs-6' style='text-align: left'>
      <%= simple_captcha_options[:image] %>
    </div>
  </div>

  <div class='simple_captcha_field'>
    <%= simple_captcha_options[:field] %>
  </div>

</div>
</fieldset>
