= render "nav"
h3.text-center.mt-2.mb-1 Resources submitted

= render "resources/stories/story_collection", stories: @resources, short: true
.text-center
  = paginate @resources, :param_name => :story_page


