= render "nav"
h3.text-xs-center.m-t-2.m-b-1 Resources submitted

= render "resources/stories/story_collection", stories: @resources, short: true
.text-xs-center
  = paginate @resources, :param_name => :story_page


