$icon-font-path: 'bootstrap/'
$brand-primary: #b6100a
$primary: $brand-primary
$border-radius:        0
$border-radius-lg:        0
$border-radius-sm:       0
$spacer-y: 1.5rem
$headings-line-height: 1.3
// $link-color: rgb(123,0,0)
$tooltip-max-width: 400px
$font-family-serif: Montserrat,"Helvetica Neue",Helvetica,Arial,STKaiti,"AR PL Ukai HK",UKai,sans-serif
$font-family-sans-serif: "Droid Serif",Georgia,"Times New Roman",Times,STKaiti,"AR PL Ukai TW",UKai,serif
// $font-size-base: 19px
// $enable-flex: true
//@import bootswatch/readable/variables
// $container-lg-desktop: ((976px +  $grid-gutter-width))
// $container-large-desktop: ((976px + $grid-gutter-width))
.label-default a
  color: lighten($brand-primary, 20%)
@import bootstrap
//@import bootswatch/readable/bootswatch


/// Adaption to pure theme

img
  @extend .img-fluid
  margin: 0 auto

hr
  border-bottom: 1px solid #ccc

.space-bottom
  margin-bottom: 30px

.sidebar
  border-left: 2px solid #ddd

.site-header
  display: block
  background: 0 0
  color: #555
  margin: auto
  max-width: 70em
  padding: .5em 1.7em
  transition: color .5s ease,background .5s ease
  &:hover
    color: #b6100a
h2
  font-size: 2.19615em

.site-subtitle
  font-size: 1.5em
  margin: auto
.site-title
  margin: auto
.site-titles
  padding-top: 1.9em

.header-logo
  color: #b6100a
  font-size: 6em
  text-align: left

.icon
  font-family: icomoon

h1, h2, h3, h4, h5, h6
  font-family: $font-family-serif
  font-weight: 400

p, article
  font-family: $font-family-sans-serif

footer
  background: #3b3b3b
  padding: 1em
  color: #fff
  text-align: center
  a
    color: #fff
  h2
    font-size: 2.19615em

// .checkbox label input:only-child
//   position: absolute

html.turbolinks-progress-bar::before
  background-color: $brand-primary !important
  height: 5px !important
