h2 = t('gdpr.new.title')

== t('gdpr.new.text', continue_link: link_to('Accept & Continue', gdpr_consent_path, data: { method: :post }, class: 'btn btn-primary btn-lg'),
  delete_link: registration_path(:user))
