meta[name="viewport" content="width=device-width, initial-scale=1.0"]
== display_meta_tags site: @site_title

== stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true
== javascript_include_tag 'application', 'data-turbolinks-track' => true
- if admin?
  == javascript_include_tag 'admin', 'data-turbolinks-track' => true
== csrf_meta_tags
link rel="dns-prefetch" href="http://fonts.useso.com/"
link rel="dns-prefetch" href="http://fonts.googleapis.com/"

link rel="shortcut icon" href=image_path('favicons/icon.ico')
link rel="icon" href=image_path('favicons/icon57.png') type="image/png"
link rel="apple-touch-icon" href=image_path('favicons/icon57.png') sizes="57x57"
link rel="apple-touch-icon" href=image_path("favicons/icon72.png") sizes="72x72"
link rel="apple-touch-icon" href=image_path("favicons/icon76.png") sizes="76x76"
link rel="apple-touch-icon" href=image_path("favicons/icon114.png") sizes="114x114"
link rel="apple-touch-icon" href=image_path("favicons/icon120.png") sizes="120x120"
link rel="apple-touch-icon" href=image_path("favicons/icon144.png") sizes="144x144"
link rel="apple-touch-icon" href=image_path("favicons/icon152.png") sizes="152x152"
meta name="msapplication-TileImage" content=(image_path( "favicons/favicon-144.png" ))
meta name="msapplication-TileColor" content="#b6100a"
meta name="Hackingchinese Challenges" content="name"
meta name="msapplication-square70x70logo" content=image_path("favicons/icon70.png")
meta name="msapplication-square150x150logo" content=image_path("favicons/icon150.png")
meta name="msapplication-wide310x150logo" content=image_path("favicons/tile-wide.png")
meta name="msapplication-square310x310logo" content=image_path("favicons/icon310.png")
